:root {
  --rectangle: #000000;
}

.Travis {
  background-color: var(--rectangle);
  background-image: linear-gradient(transparent, var(--rectangle)),
    url("./img/travis-scott-FAWVDFP-min.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  background: #171923;
}

.ArtistSide,
.exist,
.Create-Account {
  font-family: "Prompt", sans-serif;
}
nav {
  background: rgb(0, 0, 0);
}
.footer {
  background: rgba(0, 0, 0, 1);
  font-family: "Roboto Condensed", sans-serif;
}
a,
.menu {
  font-family: "Roboto Condensed", sans-serif;
}

.signUp {
  background: rgba(0, 0, 0, 0.1);
}
